$header: linear-gradient(90deg, #0E0B77 0%, #2320B7 51.97%, #0E0B77 101.13%);
$white: white;
$primary: #16175F;
$info: #E1F1FF;
$grey: #696989;
$input-border: rgba(28, 27, 31, 0.6);
$shadow: rgba(22, 23, 95, 0.2);
$btn-background: #3C50E0;
