<div class="container mx-auto">
  <ng-container *ngIf="loading$ | async; else data" class="w-full items-center justify-center">
    <app-loader></app-loader>
  </ng-container>
  <ng-template #data>
    <ng-container *ngIf="question$ | async as question">
      <span class="h2-semibold">{{ question?.label}}</span>


      <div class="questions grid grid-rows-2 grid-cols-2 gap-6" [formGroup]="form"
           *ngIf="question?.answerType === answerEnum.choice">
        <div formArrayName="choices" class="question" *ngFor="let choice of choices.controls; let i=index">
          <div [formGroupName]="i" class="w-full">
            <app-input-radio [label]="question.choices[i]" [value]="choice" (assign)="assign($event)"></app-input-radio>
          </div>
        </div>
      </div>

      <div class="questions grid grid-rows-2 grid-cols-2 gap-6" [formGroup]="form"
           *ngIf="question?.answerType === answerEnum.multipleChoice">
        <div formArrayName="choices" class="question" *ngFor="let choice of choices.controls; let i=index">
          <div [formGroupName]="i" class="w-full">
            <app-input-checkbox [label]="question.choices[i]" [index]="i" [value]="choice"
                                (assign)="assign($event)"></app-input-checkbox>
          </div>
        </div>
      </div>


      <div class="questions relative" *ngIf="question?.answerType === answerEnum.text">
        <app-input-text label="Votre réponse" [form]="form" formName="text"></app-input-text>
      </div>
      <div class="w-full flex justify-center items-center mt-20">
        <app-button text="valider" (clicked)="validate()"></app-button>
      </div>
    </ng-container>
  </ng-template>
</div>
